.main-feed{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-auto-rows: auto;
    gap: 20px; 
    padding: 40px;
}


@media (max-width: 1200px) {
  .main-feed{
    grid-template-columns: 1fr 1fr 1fr ; 
  }
  
}

@media (max-width: 900px) {
  .main-feed{
    grid-template-columns: 1fr 1fr ; 
  }
  
}

@media (max-width: 550px) {
  .main-feed{
    grid-template-columns: 1fr ; 
  }
  
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  
}

.card__image {
  max-width: 100%;
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  object-fit: cover;
}



.card__dog-info h2 {
  font-family: var(--main-font);
  font-size: 1.25rem;
  font-weight: 100;
  color: rgb(66, 66, 66);
}

.label{
  color: rgb(83, 83, 83);
  font-weight: 700;
}

.card__dog-name {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--main-orange);
  font-family: var(--main-font);
  font-weight: 700;
  text-align: center;
}

.card__dog-breed {
  font-size: 1rem;
  margin: 0.25rem 0;
}

.card__dog-age {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

.card__dog-zip-code {
  font-size: 0.8rem;
  margin: 0.25rem 0;
}

#heart-icon{
  position: absolute;
  z-index: 10;
  top: calc(20px + 1%);
  left: calc(20px + 1%);
  font-size: 2rem;
  color: var(--main-blue);
  font-weight: 400;
}
#heart-icon:hover{
  cursor: pointer;
}




.css-qbdosj-Input{
  z-index: 25;
}

.search-bar__form{
  box-shadow: 0px 0px 4px 0px #80808057;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-family: var(--main-font);
}

#search-bar__title{
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 2rem;
  color: var(--main-orange);
  padding: 10px;
  
}

.submit{
  background-color: var(--main-blue);
  padding: 10px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  width: 100%;
}

.submit:hover{
  background-color: #0056b3; 
  cursor: pointer;
}

.age-range{
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}

input[type="number"]{
  font-family: var(--main-font);
  width: 50%;
  margin-left: 5px;
}

.order{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.loading-container{
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
  
}

.loading-container__title{
    font-family: var(--main-font);
    font-size: 2rem;
    padding: 40px;
    text-align: center;
}

.loading-container__image{
    animation: rotate 2s ease-in-out infinite; 
}

@keyframes rotate {
    0% {
      transform: rotate(0deg); 
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-5deg); 
    }
}

#error{
    font-family: var(--main-font);
    margin-left: 10px;
    color: red;
}


.match-button {
    background-color: #FF6B6B;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
    border-radius: 5px;
  }
  
  .match-button:hover {
    background-color: #E35D5D;
  }
  
  h2 {
    color: rgb(135, 135, 135);
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 10px;
  }
  
  .browse-buttons{
    width: 100%;
    /* background-color: red; */
    /* height: 2vh; */
    display: flex;
    justify-content: center;


  }

  .browse-buttons > *{
    font-size: 4rem;
    color: var(--main-blue);
    cursor: pointer;
    margin: 20px;
  }
  .browse-buttons > *:hover{
    color: #0056b3;
  }

  .css-b62m3t-container{
    z-index: 25;
  }
  .disabled{
    pointer-events: none;
    cursor: not-allowed;
    background-color: lightgray;
  }

  .back-button{
    cursor: pointer;
    font-size: 2rem;
    color: grey;
    height: 100%;
    height: fit-content;
    margin-right: 20px;

  }
  .back-button:hover{
    color: rgb(45, 45, 45);
  }

  .container{
    display: flex;
    align-items: baseline;
    justify-content: center;
  
  }
